<ion-card>
    <!--<ion-list-header>-->
    <!--Reset Password-->
    <!--</ion-list-header>-->
    <ion-card-content>
        <form [ngFormModel]="passwordResetForm">
            <ion-list>
                <ion-item class="item-floating-label input-has-icon"
                          [class.error]="!passwordResetCode.valid && passwordResetCode.touched">
                    <ion-label floating>Password Reset Code</ion-label>
                    <ion-icon primary name="code" item-left class="placeholder-icon"></ion-icon>
                    <ion-input type="string" [ngFormControl]="passwordResetCode"></ion-input>
                </ion-item>
                <div class="icon-input-help-box"
                     [class.icon-error-box]="passwordResetCode.hasError('required') && passwordResetCode.touched"
                     *ngIf="(passwordResetCode.hasError('required') && passwordResetCode.touched) || !passwordResetCode.touched">
                    Please copy and paste the password reset code from your email.
                </div>
                <div *ngIf="passwordResetCode.hasError('resetPasswordError')"
                     class="icon-error-box">{{resetPasswordErrorMessage}}
                </div>

                <ion-item class="item-floating-label input-has-icon"
                          [class.error]="!password.valid && password.touched">
                    <ion-label floating>Password</ion-label>
                    <ion-icon primary name="lock" item-left class="placeholder-icon"></ion-icon>
                    <ion-input type="password" [ngFormControl]="password"></ion-input>
                </ion-item>
                <div *ngIf="password.hasError('required') && password.touched"
                     class="icon-error-box">Please enter a new password.
                </div>

                <ion-item class="item-floating-label input-has-icon"
                          [class.error]="(!confirmPassword.valid ||
                          passwordResetForm.getError('mismatchedFields') === 'mismatchedPasswords') && confirmPassword.touched">
                    <ion-label floating>Confirm Password</ion-label>
                    <ion-icon primary name="checkmark-circle-outline" item-left class="placeholder-icon"></ion-icon>
                    <ion-input type="password" [ngFormControl]="confirmPassword"></ion-input>
                </ion-item>
                <div *ngIf="confirmPassword.hasError('required') && confirmPassword.touched"
                     class="icon-error-box">Please confirm your new password.
                </div>
                <div *ngIf="passwordResetForm.getError('mismatchedFields') === 'mismatchedPasswords' && confirmPassword.touched"
                     class="icon-error-box">Passwords do not match.
                </div>

                <div padding></div>
            </ion-list>

            <button [disabled]="!passwordResetForm.valid" block
                    (click)="resetPassword(passwordResetForm.value)">Reset Password
                <ion-icon name="lock"></ion-icon>
            </button>
        </form>

        <button clear block (click)="showSignInCard()">Sign In
            <ion-icon name="log-in"></ion-icon>
        </button>
    </ion-card-content>
</ion-card>