<ion-card>
    <ion-card-content>
        <form [ngFormModel]="forgotPwForm"
              *ngIf="!sentPasswordResetEmail">
            <ion-list>
                <ion-item class="item-floating-label input-has-icon"
                          [class.error]="(!emailControl.valid && emailControl.touched) || emailControl.hasError('notRegistered')">
                    <ion-label floating>Email</ion-label>
                    <ion-icon name="mail" item-left class="placeholder-icon" primary></ion-icon>
                    <ion-input type="email" [(ngModel)]="email" ngControl="emailControl"></ion-input>
                </ion-item>
                <div *ngIf="(emailControl.hasError('required') || emailControl.hasError('invalidEmail')) && emailControl.touched"
                     class="icon-error-box">Please enter a valid email address.
                </div>
                <div *ngIf="emailControl.hasError('notRegistered')"
                     class="icon-error-box">This email address is not registered.
                </div>
                <div padding></div>
            </ion-list>

            <button [disabled]="!forgotPwForm.valid" block
                    (click)="emailPasswordResetCode(forgotPwForm.value)">Send Email
                <ion-icon name="paper-plane"></ion-icon>
            </button>
        </form>

        <button clear block (click)="showSignInCard()">Sign In
            <ion-icon name="log-in"></ion-icon>
        </button>
    </ion-card-content>
</ion-card>