/*Remove top border of list when in an ion card content form, i.e. sign in and edit menu item*/
ion-card ion-card-content form ion-list > .item:first-child {
  border-top: none;
}

/*Add border to last input field in a form list, so the input line shows up for the last input in the list*/
form ion-list > .item:last-child .item-inner, form ion-list > ion-item-sliding:last-child .item .item-inner {
  border-bottom: 1px solid color($colors, primary);
}

/*Remove bottom border when input field becomes invalid*/
ion-input.ng-invalid.ng-touched:after {
  border-bottom: none;
}

/*Change floating label color*/
.input-has-focus ion-label[floating], .input-has-value ion-label[floating] {
  color: color($colors, primary);
}

/*Remove left padding from ion-item tags that are form inputs*/
ion-card ion-card-content form ion-list ion-item.item {
  padding-left: 0;
}

/*Floating labels*/
.item-floating-label .placeholder-icon {
  padding-right: 18px;
  position: absolute;
  bottom: -2px;
  left: 10px;
}

.item-floating-label {
  padding-left: 40px !important;
}
/*End*/

ion-icon[item-left] + .item-inner {
  margin-left: 0;
}

.icon-input-help-box {
  margin-left: 40px;
  margin-top: 5px;
  font-size: 14px;
  color: color($colors, primary);
  font-style: italic;
}

.icon-error-box {
  margin-left: 40px;
  margin-top: 5px;
  font-size: 14px;
  color: color($colors, danger);
  font-style: italic;
}

.error-box {
  margin-top: 5px;
  font-size: 14px;
  color: color($colors, danger);
  font-style: italic;
}

.error .item-inner {
  border-bottom: 1px solid color($colors, danger) !important;
}

/*change default color of input line*/
ion-card ion-card-content form ion-list .item-inner {
  border-bottom: 1px solid color($colors, primary);
}

/*Input error in focus*/
ion-card ion-card-content form ion-list ion-item.item-input.input-has-focus.error {
  border-bottom: 1px solid color($colors, danger);
}

/*Add color to input line when input has focus*/
form ion-list ion-item.item-input.input-has-focus {
  border-bottom: 1px solid color($colors, primary);
}

form ion-list ion-item.item-input.input-has-focus .item-inner {
  border-bottom: 2px solid color($colors, primary);
}

/*Not if there is an icon next to the input*/
ion-card ion-card-content form ion-list ion-item.item-input.input-has-focus.input-has-icon {
  border-bottom: none;
}

ion-list ion-item.item-input.input-has-icon.input-has-focus.error .item-inner {
  border-bottom: 2px solid color($colors, danger) !important;
}

/*End*/

/*Change input icon color if error*/
ion-item.item-input.input-has-icon.error *:before {
  color: color($colors, danger);
}

/*Change floating label color if error*/
.input-has-value.error ion-label[floating], .input-has-focus.error ion-label[floating] {
  color: color($colors, danger);
}

.item-input.error ion-label {
  color: color($colors, danger);
}
/*End*/